<div class="container">
  <div>
    <h1 class="">Voici les résultats pour <%= params[:address_input] %></h1>
  </div>
  <div class="form-group mt-4">
    <form action="/profiles" method="GET">
      <div class="d-flex flex-row bd-highlight mb-4 seko-card">
        <div>
          <label class="mt-4 ml-4" for="diploma">Filtrer</label>
        </div>
        <div class="m-3">
          <select name="diploma" class="form-control seko-search-bar" id="exampleFormControlSelect1">
            <option selected>Certifications</option>
            <option>Certification Parkinson</option>
            <option>Certification Epee et monstres</option>
            <option>Certification gomu gomu</option>
          </select>
          <input type="text" value="<%= @address %>" name="address_input" hidden>
        </div>
        <div class="m-3">
          <input class="btn seko-button filter-btn" type="submit" value="↺">
        </div>
      </div>
    </form>
  </div>

  <div>
    <% @near_helpers.each do |helper| %>
      <%= link_to profile_path(helper), :style=>'color: black;' do %>
        <div class="col-12">
          <div class="seko-card seko-flex mt-5 col-8">
            <div>
              <img class="avatar-extra-large mt-5 ml-2" src="https://kitt.lewagon.com/placeholder/users/anthomanto" alt="" >
            </div>
            <div class="seko-in-card seko-flex seko-in-card-list m-4 col-8">
              <div>
                <h3><%= helper.first_name %> <%= helper.last_name %></h3>
                <small>review + X reviews</small>
                <p><%= helper.car %></p>
                <p>
                  <% Diploma.where(user_id: helper.id).each do |diploma| %>
                    <%= diploma.name %>
                  <% end %>
                </p>
              </div>
                <div>
                  <p><%= helper.price %>€</p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

