<div class="container">
  <div>
    <h1 class="">Voici les résultats pour <%= params[:address_input] %></h1>
  </div>
  <div class="form-group mt-4">
    <form action="/profiles" method="GET">
      <div class="d-flex flex-row bd-highlight mb-4 seko-card">
        <div>
          <label class="mt-4 ml-4" for="diploma">Filtrer</label>
        </div>
        <div class="m-3">
          <select name="diploma" class="form-control seko-search-bar" id="exampleFormControlSelect1">
            <option selected>Certifications</option>
            <option>Certification Parkinson</option>
            <option>Certification Epee et monstres</option>
            <option>Certification gomu gomu</option>
          </select>
          <input type="text" value="<%= @address %>" name="address_input" hidden>
        </div>
        <div class="m-3">
          <input class="btn seko-button filter-btn" type="submit" value="↺">
        </div>
      </div>
    </form>
  </div>

  <div>
    <% @near_helpers.each do |helper| %>
    <%= link_to profile_path(helper), :style=>'color: black;' do %>
    <div class="col-12">
      <div class="seko-card seko-flex mt-3 col-8">
        <div>
          <img class="avatar-extra-large mt-3 ml-2" src="<%= helper.photo %>" alt="" >
        </div>
        <div class="seko-in-card seko-flex seko-in-card-list m-3 col-8">
          <div>
            <h3><%= helper.first_name %> <%= helper.last_name %></h3>
            <p><%= helper.car %></p>
            <% Diploma.where(user_id: helper.id).each do |diploma| %>
              <%= diploma.name %>
            <% end %>
            <div>
              <%  @reviews =[]%>
              <% bookings = Booking.where(helper_id: helper.id) %>
                <% bookings.each do |booking| %>
                <% review = Review.find_by(booking_id: booking.id) %>
                <% @reviews << review unless review.nil? %>
              <% end %>
              <% if @reviews.empty? %>
                <p> No reviews currently </p>
              <% else %>
                <div class="ml-4 text-center">
                  Moyenne : <%=  @reviews.collect(&:note).sum.to_f/@reviews.length if @reviews.length > 0 %>
                  <p >(<%= @reviews.length %> avis)</p>
                </div>
              <% end %>
            </div>
          </div>
          <div>
            <p><%= helper.price %>€</p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
