<h1>YOLO details</h1>
<div class="container d-flex flex-row">
  <div>
    <p>AVATAR</p>
  </div>
  <div>
    <h3><%= @helper.first_name.capitalize %> <%= @helper.last_name.capitalize %></h3>
    <p>Note + nombre d'avis</p>
    <p>Inscrit depuis <%= @registration_duration %></p>
    <p><%= @helper.car %></p>
  </div>
</div>

<div class="container mt-5">
  <div>
    <h2>Presentation de l'aidant</h2>
    <p><%= @helper.description %></p>
  </div>
  <div class="border-top pt-2">
    <h3>Certifications</h3>
    <p><%= @helper.diploma %></p>
    <!-- Find below the code to use with an array of diploma -->
    <!-- @helper.diploma.each do |diploma|
      <p>- diploma</p>
    end -->
  </div>
  <div class="border-top pt-2">
    <h3>Reviews</h3>
  </div>
</div>

<%= simple_form_for @booking do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
    <%= f.label "start_time", "Start time" %>
    <%= f.select "start_time", (7..21).to_a %>:00
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
