<div class="show-flex container mt-5">
  <div class="col-7 seko-card-details show-profil-card mr-5 p-4">
    <div class="top-show seko-in-card">
      <div class="mr-4">
        <div>
          <img class="avatar-large ml-2" src="<%= @helper.photo %>" alt="" >
        </div>
      </div>
      <div class="seko-flex seko-show-in-card">
        <div>
          <div class="d-flex flex-row align-items-end">
            <h3><%= @helper.first_name.capitalize %> <%= @helper.last_name.capitalize %></h3>
            <% if @helper.car %>
              <i class="fas fa-car ml-3 mb-3"></i>
            <% end %>
          </div>
          <p>Inscrit depuis <%= @registration_duration %></p>
        </div>

        <!-- Notes and Price -->
        <div class="d-flex flex-column justify-content-between align-items-right">
          <!-- Notes -->
          <div>
            <% if @reviews.empty? %>
              <p> No reviews currently </p>
            <% else %>
              <div class="text-right">
                <%(@average_rating).to_i.times do%>
                  <i class="fas fa-star"> </i>
                <% end %>
                <p>(<%= @reviews.length %> avis)</p>
              </div>
            <% end %>
          </div>

          <!-- Price -->
          <div class="text-right">
            <p style="margin-bottom: 0;"><%= @helper.price %>€ / heure</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Description -->
    <div class="mt-4 ml-2">
      <div class="d-flex flex-row justify-content-between align-items-end">
        <h4>Profil</h4>
        <% unless @exist_booking.nil? %>
          <%= render :partial => "pages/favoris", locals: { booking: @exist_booking, helpers: @favoris_helper, path: "helper_details" } %>
        <% end %>
      </div>
      <br>
      <p><%= @helper.description %></p>
    </div>

    <!-- Diplomas / Formations -->
    <div class="border-top mt-4 ml-2 pt-4">
      <h4>Diplômes / Formations</h4>
      <ul class="m-2">
        <% @diplomas.each do |diploma| %>
          <li class="m-2"><%= diploma.name %></li>
        <% end %>
      </ul>
    </div>

    <!-- Reviews -->
    <div class="border-top mt-4 ml-2 pt-4">
      <h4>Reviews</h4>
      <% if @reviews.empty? %>
        <p>Cet helper n'a pas encore de commentaires</p>
      <% else %>
        <% @reviews.each do |review| %>
          <div class="mb-4">
            <% review.note.times do%>
              <i class="fas fa-star"> </i>
            <% end %>
            <p><%= review.content %></p>
            <p class="ml-3">
              <img class="avatar avatar-senior-small" src="<%= review.booking.senior.photo %>" alt="" >
              &nbsp
              <%= review.booking.senior.first_name %>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- Calendrier -->
  <div class="seko-card-details date-block sticky-top" style="top: 60px;">
    <form action="/profiles/<%= @helper.id %>/bookings" method="POST">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="form-inputs">
        <input class="form-control datepicker seko-card-details" name="date" type="date" value="<%= Date.today %>" id="example-date-input" hidden>
        <div id="not_today" class="<%= "hidden" if @starting_hour <= 20 %>">
          <p>Plus de résa possible pour ce jour</p>
        </div>
        <div id="select_booking_hours" class="<%= "hidden" if @starting_hour > 20 %>">
          <div class="hour-block seko-show-in-card m-3">
            <div class="time-block">
              <label for="start_time">Heure de début</label>
              <select class="seko-search-bar"  name="start_time" id="start_time" value="<%= @starting_hour %>">
                <% @starting_hour = 7 if @starting_hour > 20 %>
                <% (7..20).to_a.each do |hour| %>
                  <% if (@starting_hour > hour) %>
                    <option value="<%= hour %>" disabled><%= hour %>:00</option>>
                  <% elsif (@starting_hour == hour) %>
                    <option value="<%= hour %>" selected><%= hour %>:00</option>>
                  <% else  %>
                    <option value="<%= hour %>"><%= hour %>:00</option>
                  <% end %>
                <% end %>
              </select>
            </div>
            <div class="time-block">
              <label for="end_time">Heure de fin</label>
              <select class="seko-search-bar" name="end_time" id="end_time" value="<%= @starting_hour + 1 %>">
                <% (8..21).to_a.each do |hour| %>
                  <% if ((@starting_hour + 1) > hour) %>
                    <option value="<%= hour %>" disabled><%= hour %>:00</option>
                  <% elsif ((@starting_hour + 1) == hour) %>
                    <option value="<%= hour %>" selected><%= hour %>:00</option>
                  <% else  %>
                    <option value="<%= hour %>"><%= hour %>:00</option>
                  <% end %>
                <% end %>
              </select>
            </div>
          </div>
          <div class="text-center m-4">
            <h4 id="total" data-price="<%= @helper.price %>"> <strong>1 heure - Total : <%= 1*@helper.price.to_i %> €</strong> </h4>
          </div>
          <input class="btn seko-button-show" type="submit" value="Valider">
        </div>
      </div>
    </form>
  </div>
</div>
