<div class="show-flex heartbloc container mt-5">
  <div class="col-7 seko-card-details show-profil-card mr-5 p-4">
    <%= link_to "⟵", request.referer.present? ? request.referer : default_path, class: 'return-btn' %>

    <div class=" ml-2">
      <div class="d-flex flex-row justify-content-between align-items-end">
        <h1 style="color: #1E80FC;">Profil</h1>
        <% unless @exist_booking.nil? %>
          <%= render :partial => "pages/favoris", locals: { booking: @exist_booking, helpers: @favoris_helper, path: "helper_details" } %>
        <% end %>
      </div>
    </div>
    <div class="top-show pt-4 mt-3">
      <div class="mr-4">
        <div>
          <% if !@helper.photo.present? %>
            <%= cl_image_tag("default_photo.png", class: "avatar-mobile", :default_image=>"default_photo", :gravity=>"face", :width=>100, :crop=>"thumb") %>
          <% else %>
            <%= cl_image_tag @helper.photo.key, class: "avatar avatar-senior avatar-mobile" %>
          <% end %>
        </div>
      </div>
      <div class="seko-flex seko-show-in-card">
        <div>
          <div class="d-flex flex-row align-items-end">
            <h3><%= @helper.first_name.capitalize %> <%= @helper.last_name.capitalize %></h3>
            <% if @helper.car %>
              <i class="fas fa-car ml-3 mb-3"></i>
            <% end %>
          </div>
          <p>Inscrit depuis <%= @registration_duration %></p>
        </div>

        <!-- Notes and Price -->
        <div class="d-flex flex-column justify-content-between align-items-right">
          <!-- Notes -->
          <div>
            <% if @reviews.empty? %>
              <p> Pas encore d'avis </p>
            <% else %>
              <div class="text-right">
                <%(@average_rating).to_i.times do%>
                  <i class="fas fa-star"> </i>
                <% end %>
                <p>(<%= @reviews.length %> avis)</p>
              </div>
            <% end %>
          </div>

          <!-- Price -->
          <div class="text-right">
            <h4 style="margin-bottom: 0;"><%= @helper.price %>€ / heure</h4>
          </div>
        </div>
      </div>
    </div>

    <!-- Description -->
    <h4 class="mt-4 border-top pt-4">Description</h4>
    <p><%= @helper.description %></p>


    <!-- Diplomas / Formations -->
    <div class="border-top mt-4 ml-2 pt-4">
      <h4>Diplômes / Formations</h4>
      <ul class="m-2">
        <% @diplomas.each do |diploma| %>
          <li class="m-2"><%= diploma.name %></li>
        <% end %>
      </ul>
    </div>

    <!-- Reviews -->
    <div class="border-top mt-4 ml-2 pt-4">
      <h4>Avis</h4>
      <% if @reviews.empty? %>
        <p><%= @helper.first_name.capitalize %> n'a pas encore d'avis</p>
      <% else %>
        <% @reviews.each do |review| %>
          <div class="mb-4">
            <% review.note.times do%>
              <i class="fas fa-star"> </i>
            <% end %>
            <p><%= review.content %></p>
            <p class="ml-3">
              <% if !review.booking.senior.photo.present? %>
                <%= cl_image_tag("default_photo.png", :default_image=>"default_photo", :gravity=>"face", :width=>50, :crop=>"thumb") %>
              <% else %>
                <%= cl_image_tag review.booking.senior.photo.key, class: "avavat avatar-senior-small" %>
              <% end %>
              &nbsp
              <%= review.booking.senior.first_name %>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- Calendrier -->
  <div class="seko-card-details date-block sticky-top" style="top: 60px;">
    <form action="/profiles/<%= @helper.id %>/bookings" method="POST">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div id="select-booking-day-hours" class="form-inputs">

        <!-- schedule data jours disponibles -->
        <p id="selection-date" hidden><%= @free_days %></p>
        <p id="first-date" hidden><%= @free_first_day %></p>
        <input class="form-control datepicker seko-card-details" name="date" type="date" id="example-date-input" hidden>

        <div id="not_today" class="seko-show-in-card mt-3 <%= "hidden" if @is_today == false %>">
          <p class="text-center">Plus de créneaux disponibles pour aujourd'hui.</p>
        </div>
        <div id="select_booking_hours" class="<%= "hidden" if @is_today == true %>">

          <!-- sliders data  -->
          <p id="remaining-free-spots-all-days" hidden><%= @vs_string %></p>
          <p id="remaining-free-spots-one-days" hidden><%= @free_first_day_spots %></p>
          <p id="busy-spots-all-days" hidden><%= @busy_all_string %></p>
          <p id="busy-spots-one-day" hidden><%= @busy_first_day_spots %></p>

          <div class="text-center m-3">
            <h4 id="show-selected-hours"><%= "De #{@starting_value}h à #{@starting_value+1}h"%></h4>
          </div>

          <div class="hours-slider">
            <input name="slider_1" value=<%= @starting_value %> min="7" max="21" step="1" type="range" id="slider1">
            <input name="slider_2" value=<%= @starting_value+1 %> min="7" max="21" step="1" type="range" id="slider2">
          </div>
          
          <div id="disponibility_show">
            <% (7..20).each do |spot| %>
              <% if @busy_first_day_spots_hours.include?(spot) %>
                <div class="spot busy"><p>X</p></div>
              <% elsif @free_first_day_spots_hours.include?(spot) %>
                <div class="spot free"><p>V</p></div>
              <% else %>
                <div class="spot unscheduled"><p>X</p></div>
              <% end %>
            <% end %>
          </div>

          <div class="text-center m-4">
            <h4 id="total" data-price="<%= @helper.price %>"><strong>1 heure - Total : <%= 1*@helper.price.to_i %> €</strong></h4>
          </div>
          <!-- ------------- dblrange end ---------------- -->
          <!-- anciennes class css: class="hour-block seko-show-in-card m-3" class="time-block -->
          <!-- anciennes class css: +celles liées au anciens labels heure de debut et heure de fin -->

          <input class="btn seko-button-show" type="submit" value="Valider">
        </div>
      </div>
    </form>
  </div>
</div>
