<div class="show-flex container mt-5">
  <div class="col-7 seko-card show-profil-card mr-5 p-4">
    <div class="top-show seko-in-card">
      <div class="mr-4">
        <div>
          <img class="avatar-large ml-2" src="https://kitt.lewagon.com/placeholder/users/anthomanto" alt="" >
        </div>
      </div>
      <div class="seko-flex seko-show-in-card">
        <div>
          <h3><%= @helper.first_name.capitalize %> <%= @helper.last_name.capitalize %></h3>
          <small>Inscrit depuis <%= @registration_duration %></small><br>
          <small><%= @helper.car %>Véhiculé</small>
        </div>
        <div>
          <% if @reviews.empty? %>
            <p> No reviews currently </p>
          <% else %>
            <% @reviews.each do |review| %>
            <% review.note.times do %>
              <i class="fas fa-star"> </i>
                <% end %>
                <% (5 - review.note).times do %>
                <% end %>
              <div class="ml-4 text-center">
               <p >(<%= @reviews.length %> avis)</p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="mt-4 ml-2">
      <h4>Profil</h4>
      <p><%= @helper.description %></p>
    </div>
    <div class="border-top mt-4 ml-2 pt-4">
      <h4>Certifications</h4>
      <ul class="m-2">
        <% @diplomas.each do |diploma| %>
          <li class="m-2"><%= diploma.name %></li>
        <% end %>
      </ul>
    </div>
    <div class="border-top mt-4 ml-2 pt-4">
      <h4>Reviews</h4>
      <p><% @reviews.each do |review| %></p>
      <ul class="reviews m-2">
        <li class="m-2"><%= review.content %> (<%= review.booking.senior.first_name %>)</li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="seko-card date-block">
    <form action="/profiles/<%= @helper.id %>/bookings" method="POST">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="form-inputs">
        <input class="form-control datepicker seko-card" name="date" type="date" value="2020-08-19" id="example-date-input" hidden>
        <div class="hour-block seko-show-in-card m-3">
          <div class="time-block">
            <label for="start_time">Heure de début</label>
            <select class="seko-search-bar"  name="start_time">
              <% (7..20).to_a.each do |hour| %>
                <option value="<%= hour %>"><%= hour %>:00</option>
              <% end %>
            </select>
          </div>
          <div class="time-block">
            <label for="end_time">Heure de fin</label>
            <select class="seko-search-bar" name="end_time">
              <% (8..21).to_a.each do |hour| %>
                <option value="<%= hour %>"><%= hour %>:00</option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
      <input class="btn seko-button btn-show" type="submit" value="Valider" class="mt-4">
    </form>
  </div>
</div>
