<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs seko-card p-3">
    <%= f.input :last_name,
                label: "Nom",
                required: true,
                input_html: { class: "seko-search-bar" } %>
    <%= f.input :first_name,
                label: "Prénom",
                required: true,
                input_html: { class: "seko-search-bar" } %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email", class: "seko-search-bar" } %>
    <%= f.input :mobile_number,
                label: "Portable",
                required: true,
                input_html: { class: "seko-search-bar" } %>
    <%= f.input :password,
                required: true,
                label: "Mot de passe",
                hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password", class: "seko-search-bar" } %>
    <%= f.input :password_confirmation,
                label: "Confirmez le mot de passe",
                required: true,
                input_html: { autocomplete: "new-password", class: "seko-search-bar" } %>
    <%= f.input :address,
                label: "Adresse",
                as: :search,
                required: true,
                hint: ("Elle ne sera pas divulgué"),
                input_html: { autocomplete: "address", :id => "helper_address", class: "seko-search-bar" }  %>
    <%= f.input :address2,
                label: "Complément d'adresse",
                required: false,
                input_html: { class: "seko-search-bar" }  %>
    <%= f.hidden_field :role, value: "helper" %>
    <%= f.input :photo, label: "Photo de profil", as: :file, direct_upload: true %>

    <h3> Aidez nous à mieux vous connaitre </h3>

    <%= f.input :description,
                label: "Parlez nous un peu de vous",
                placeholder: "Quelles sont vos motivations? vos envies? ",
                required: false,
                input_html: { class: "seko-search-bar" } %>
    <%= f.input :car,
              label: "Etes vous véhiculé ?",
              as: :radio_buttons,
              collection: [
                ['Oui', true],
                ['Non', false]
              ],
              required: true %>
    <%= f.input :price,
              label: "Votre tarif à l'heure",
              required: true,
              hint: ("0 si vous  souhaitez faire du bénévolat"),
              input_html: { class: "seko-search-bar" } %>
    <%= f.input :activity_start_date,
              label: "Quand avez-vous commencez votre activité ?",
              order: [:day, :month, :year],
              hint: ("Vous pouvez entrer la date du jour de votre inscription s'il s'agit d'une nouvelle activité."),
              input_html: { class: "seko-search-bar" } %>
  </div>
  <div class="form-actions seko-flex">
    <%= f.button :submit, "S'inscrire", class: "btn seko-button w-100 m-3" %>
   <!--  <%= render "devise/shared/links" %> -->
  </div>
<% end %>
