 <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs seko-card p-3">
            <%= f.input :last_name,
                        label: "Nom du titulaire du compte ",
                        required: true,
                        input_html: { class: "seko-search-bar" } %>
            <%= f.input :first_name,
                        label: "Prénom du titulaire du compte",
                        required: true,
                        input_html: { class: "seko-search-bar" } %>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email", class: "seko-search-bar" } %>
            <%= f.input :mobile_number,
                        label: "Portable du titualire du compte",
                        required: true,
                        input_html: { class: "seko-search-bar" } %>
            <%= f.input :password,
                        label: "Mot de passe",
                        required: true,
                        hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password", class: "seko-search-bar" } %>
            <%= f.input :password_confirmation,
                        label: "Confirmez le mot de passe",
                        required: true,
                        input_html: { autocomplete: "new-password", class: "seko-search-bar" } %>
            <%= f.input :address,
                        label: "Adresse",
                        required: true,
                        input_html: { autocomplete: "address", :id => "family_address", class: "seko-search-bar" }  %>
            <%= f.input :address,
                        label: "Complément d'adresse",
                        required: false,
                        input_html: { class: "seko-search-bar" }  %>
            <%= f.input :photo, label:"Photo de profil", as: :file, direct_upload: true %>
            <%= f.input :description,
                        required: false,
                        input_html: { class: "seko-search-bar" } %>
        </div>
        <div class="form-actions seko-flex">
          <%= f.button :submit, "S'inscrire", class: "btn seko-button w-50 m-3" %>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
