<div>
  <h3 class="text-center">Vous avez sélectionné notre super Helper <%= @booking.helper.first_name %> </h3>
</div>

<div class="recap-card">
  <div class="seko-card col-6 p-4 m-2">

    <div class="seko-flex col-12">

      <!-- Avatar -->
      <div class="mb-3 d-flex flex-column flex-grow-1 align-items-center justify-content-center">
        <img class="avatar-large mt-3 ml-2" src="<%= @booking.helper.photo %>" alt="" >
      </div>

      <!-- Full name and diplomas -->
      <div class="seko-in-card seko-flex m-3 col-9">
        <div class="d-flex flex-column align-items-left w-70">
          <div class="d-flex flex-row align-items-end">
            <h3><%= @booking.helper.first_name %> <%= @booking.helper.last_name %></h3>
            <% if @booking.helper.car %>
              <i class="fas fa-car ml-3 mb-3"></i>
            <% end %>
          </div>
          <ul class="pl-20" style="list-style-type: none;">
            <% Diploma.where(user_id: @booking.helper.id).each do |diploma| %>
              <li><%= diploma.name %></li>
            <% end %>
          </ul>
        </div>

        <!-- Notes and price -->
        <div class="d-flex flex-column justify-content-between align-items-right">
          <% if @reviews.empty? %>
            <p> No reviews currently </p>
          <% else %>
            <div>
              <%(@average_rating).to_i.times do%>
                <i class="fas fa-star"> </i>
              <% end %>
            </div>
            <div class="ml-4 text-center">
              <p>(<%= @reviews.length %> avis)</p>
            </div>
          <% end %>
          <div class="text-right">
            <p style="margin-bottom: 0;"><%= @booking.helper.price %>€ / heure</p>
          </div>
        </div>
      </div>
    </div>

    <div class=" m-3 p-3 text-center">
      <div class="d-flex flex-row justify-content-around">
        <div>
          <h4>Votre adresse</h4>
          <p><%= current_user.address %></p>
        </div>
        <div>
          <h4>Date et heure</h4>
          <p><%= @booking.date.strftime("%d/%m/%Y") %> de <%= @booking.start_time.strftime("%H:%M") %> à <%= @booking.end_time.strftime("%H:%M") %></p>
        </div>
      </div>

      <h4 class="border-top pt-4"> Activités choisies</h4>
      <div class="row justify-content-center">
        <% @tasks.each do |task| %>
          <div class="col-4">
            <p><%= task.name %></p>
          </div>
        <% end %>
      </div>

      <%= form_tag "/bookings/#{@booking.id}/validation", method:"patch", class: "border-top pt-4" %>
        <%= label_tag("Un petit mot qui pourrai aider notre helper ?") %>
        <br>
        <%= text_area_tag(:comment, "", size: "50x5", class: "seko-search-bar") %>
        <h3 class="mb-3 mt-3"><strong><%= @booking.helper.price %> € x <%= ((@booking.end_time  - @booking.start_time)/3600).to_i %>heures </strong> </h3>
        <h3 class="mb-3"><strong>Total : <%= @total %> €</strong></h3>
        <%= submit_tag 'Valider ma reservation', class: "btn seko-button search-button" %>
    </div>
  </div>
</div>
