<div>
    <div class="text-center">
      <h3>Comment <%= @booking.helper.first_name %> peut vous aider ?</h3>
      <p>Vous pouvez choisir jusqu'à <%= ((@booking.end_time  - @booking.start_time)/3600).to_i %> activités.</p>
    </div>



<div class="seko-card recap-card container mb-4 mt-5">
  <%= form_tag "/bookings/#{@booking.id}/tasks", method:"patch" %>
    <div class="seko-flex heartbloc">
      <div class="p-4">
        <h4 class="text-center">Taches courantes</h4>

        <div class="category-choice m-3">
          <input type="checkbox" name="Aide ménagère" hidden>
          <%= label_tag ('Aide ménagère') %>
        </div>

        <div class="category-choice m-3">
          <input type="checkbox" name="Aide aux courses" hidden>
          <%= label_tag ('Aide aux courses') %>
        </div>

        <div class="category-choice m-3">
          <input type="checkbox" name="Bricolage et petits travaux" hidden>
          <%= label_tag ('Bricolage et petits travaux') %>
        </div>

        <div class="category-choice m-3">
          <input type="checkbox" name="Jardinage" hidden>
          <%= label_tag ('Jardinage') %>
        </div>

      </div>

      <div class="p-4">
        <h4 class="text-center">Aide</h4>

        <div class="category-choice m-3">
          <input type="checkbox" name="Préparation et aide au repas" hidden>
          <%= label_tag ('Préparation et aide au repas') %>
        </div>

        <div class="category-choice m-3">
          <input type="checkbox" name="Aide administrative ou informatique" hidden>
          <%= label_tag ("Aide administrative ou informatique") %>
        </div>

        <div class="category-choice m-3">
          <input type="checkbox" name="Toilette et habillement" hidden>
          <%= label_tag ('Toilette et habillement') %>
        </div>

        <div class="category-choice m-3">
          <input type="checkbox" name="Aide au lever/coucher" hidden>
          <%= label_tag ('Aide au lever/coucher') %>
        </div>
      </div>

      <div class="accompagnement d-flex-column justify-content p-4">
        <h4 class="text-center">Accompagnement</h4>
        <div class="category-choice m-3">
          <input type="checkbox" name="Accompagnement à un rendez-vous" hidden>
          <%= label_tag ('Accompagnement à un rendez-vous') %>
        </div>

        <div class="category-choice m-3">
          <input type="checkbox" name="Activité physique" hidden>
          <%= label_tag ('Activité physique') %>
        </div>

        <div class="category-choice m-3">
          <input type="checkbox" name="Stimulation et loisirs" hidden>
          <%= label_tag ("Stimulation et loisirs") %>
        </div>

        <div class="category-choice m-3">
          <input type="checkbox" name="Promenade" hidden>
          <%= label_tag ("Promenade") %>
        </div>

      </div>

    </div>
      </div>

      <div class="col-4 seko-center" style="text-align:center;">
         <%= submit_tag 'Valider', class: "btn seko-button mb-4" %>
      </div>


  </div>
</div>
