<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "sekoya_logo.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <% if !current_user.photo.present?%>
            <%= cl_image_tag("default_photo.png", :default_image=>"default_photo", :gravity=>"face", :width=>50, :crop=>"thumb", data: { toggle: "dropdown" })%>
          <% else %>
            <%= cl_image_tag current_user.photo.key, class: "avatar avatar-senior-small dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right seko-card" aria-labelledby="navbarDropdown">
            <% if current_user.role == "helper" %>
              <%= link_to "Tableau de bord", helper_path, class: "dropdown-item" %>
             <!--  <%= link_to "Horraires", sch_form_path, class: "dropdown-item" %>
              <%= link_to "Calendrier", calendar_path, class: "dropdown-item" %> -->
            <% else %>
              <%= link_to "Tableau de bord", senior_path, class: "dropdown-item" %>
              <%= link_to "Mes favoris", favoris_index_path, class: "dropdown-item" %>
            <% end %>
            <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item seko-flex col-12">
<!--           <%= link_to "Devenez aide à domicile", new_user_session_path, class: "nav-link col-6" %>
          <%= link_to "S'inscrire", new_user_session_path, class: "nav-link" %> -->
          <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
