<div class="ml-5 mr-5">

  <div class="seko-flex">

    <div class="col-6">

      <div class="ml-3">
        <%= render :partial => "bonjour" %>
      </div>

      <div>
        <h3 class="ml-3">Prochaine prestation</h3>
        <div class="seko-card p-3 m-3">
          <% if @booking_next.nil? %>
          <p>Vous n'avez pas de prestation à venir</p>
          <% else %>
          <%= link_to booking_path(@booking_next) do %>
          <div class="seko-flex">
          <div>
            <img class="avatar-large" src="<%= @booking_next.helper.photo %>" alt="" >
          </div>
          <div class="col-10">
          <p><%= @booking_next.helper.first_name %> <%= @booking_next.helper.last_name %></p>
          <p><%= @booking_next.date %> : <%= @booking_next.start_time.strftime("%R") %> - <%= @booking_next.end_time.strftime("%R") %></p>

          <p><%= render :partial => "colorstatus", locals: { booking: @booking_next } %></p>
          <%= render :partial => "favoris", locals: { booking: @booking_next, helpers: @favoris_helper } %>
          </div>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>

    </div>

    <div class="col-6">

      <div class="seko-card p-2 text-center m-3">
        <%= render :partial => "wallet" %>
      </div>

      <div class="seko-card text-center p-2 m-3">
        <h1>Mes favoris</h1>
        <%= link_to "Retouvez vos helpers préférés.", favoris_index_path, class: "btn seko-senior-btn" %>
        <p>Retouvez vos helpers préférés.</p>
      </div>

    </div>

  </div>

  <div class="ml-3 mr-3">

    <div>
    <h2>Bookings</h2>
    </div>

    <div>

      <ul class="nav" id="myTab" role="tablist">

        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="week-tab" data-toggle="tab" href="#week" role="tab" aria-controls="week" aria-selected="true">Cette semaine</a>
        </li>

        <li class="nav-item" role="presentation">
          <a class="nav-link" id="pending-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="pending" aria-selected="false">En attente</a>
        </li>

        <li class="nav-item" role="presentation">
          <a class="nav-link" id="futur-tab" data-toggle="tab" href="#futur" role="tab" aria-controls="futur" aria-selected="false">A venir</a>
        </li>

        <li class="nav-item" role="presentation">
          <a class="nav-link" id="historique-tab" data-toggle="tab" href="#historique" role="tab" aria-controls="historique" aria-selected="false">Historique</a>
        </li>

      </ul>

      <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="week" role="tabpanel" aria-labelledby="week-tab">
          <% @senior_week.each do |booking| %>
          <%= link_to booking_path(booking) do%>

          <div class="seko-card pl-3 pt-3 mb-3 pr-4 seko-flex senior-long-block">

            <div>
              <img class="avatar-large" src="<%= booking.helper.photo %>" alt="" >
            </div>

            <div>
              <p><%= booking.helper.first_name %> <%= booking.helper.last_name %></p>
              <p><%= booking.date %> : <%= booking.start_time.strftime("%R") %>-<%= booking.end_time.strftime("%R") %></p>
              <p><%= render :partial => "colorstatus", locals: { booking: booking } %></p>
              <%= render :partial => "favoris", locals: { booking: booking, helpers: @favoris_helper } %>
            </div>

            <div>
              <% booking.tasks.each do |task| %>
              <p><%= task.name %></p>
              <% end %>
            </div>
            </div>
          <% end %>
          <% end %>
        </div>
        <div class="tab-pane fade" id="pending" role="tabpanel" aria-labelledby="pending-tab">
          <% @pending.each do |booking| %>
          <%= link_to booking_path(booking) do%>
          <div class="seko-card pl-3 pt-3 mb-3 pr-4 seko-flex senior-long-block">
        <div class="seko-flex">

            <div>
              <img class="avatar-large" src="<%= booking.helper.photo %>" alt="" >
            </div>

            <div>
              <p><%= booking.helper.first_name %> <%= booking.helper.last_name %></p>
              <p><%= booking.date %> : <%= booking.start_time.strftime("%R") %>-<%= booking.end_time.strftime("%R") %></p>
              <p><%= render :partial => "colorstatus", locals: { booking: booking } %></p>
            </div>

            <div>
              <% booking.tasks.each do |task| %>
              <p><%= task.name %></p>
              <% end %>
            </div>
            </div>
            <div class="col-3 senior-cancel-area">
              <p class="text-center">Voulez vous annuler cette réservation?</p>
              <%= link_to "Cancel", status_change_path(booking, status: "annulé"),
              method: :patch, data: { confirm: 'Are you sure?' }, class: "btn seko-senior-btn" %>
              <%= render :partial => "favoris", locals: { booking: booking, helpers: @favoris_helper } %>
            </div>

            </div>
          <% end %>
          <% end %>
        </div>

        <div class="tab-pane fade" id="futur" role="tabpanel" aria-labelledby="futur-tab">
          <% @avenir.each do |booking| %>
          <%= link_to booking_path(booking) do%>

          <div class="seko-card pl-3 pt-3 mb-3 pr-4 seko-flex senior-long-block">
            <div class="seko-flex">

            <div>
              <img class="avatar-large" src="<%= booking.helper.photo %>" alt="" >
            </div>

            <div>
              <p><%= booking.helper.first_name %> <%= booking.helper.last_name %></p>
              <p><%= booking.date %> : <%= booking.start_time.strftime("%R") %>-<%= booking.end_time.strftime("%R") %></p>
              <p><%= render :partial => "colorstatus", locals: { booking: booking } %></p>
            </div>

            <div>
              <% booking.tasks.each do |task| %>
              <p><%= task.name %></p>
              <% end %>
            </div>
            </div>
            <div class=" col-3 seko-cancel-area">
              <p class="text-center">Voulez vous annuler cette réservation?</p>
              <%= link_to "Cancel", status_change_path(booking, status: "annulé"),
              method: :patch, data: { confirm: 'Are you sure?' }, class: "btn seko-senior-btn" %>
              <%= render :partial => "favoris", locals: { booking: booking, helpers: @favoris_helper } %>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>

        <div class="tab-pane fade" id="historique" role="tabpanel" aria-labelledby="historique-tab">
              <% @historique.each do |booking| %>
              <%= link_to booking_path(booking) do%>

              <div class="seko-card pl-3 pt-3 mb-3 pr-4 seko-flex">

                <div>
                  <img class="avatar-large" src="<%= booking.helper.photo %>" alt="" >
                </div>

                <div>
                  <p><%= booking.helper.first_name %> <%= booking.helper.last_name %></p>
                  <p><%= booking.date %> : <%= booking.start_time.strftime("%R") %>-<%= booking.end_time.strftime("%R") %></p>
                  <p><%= render :partial => "colorstatus", locals: { booking: booking } %></p>
                  <%= render :partial => "favoris", locals: { booking: booking, helpers: @favoris_helper } %>
                </div>

                <div>
                  <% booking.tasks.each do |task| %>
                  <p><%= task.name %></p>
                  <% end %>
                </div>
                </div>
                <% end %>
                <% end %>
        </div>

      </div>

    </div>

</div>
