<p>papy</p>
<div>
    <div>
        <div>
            <%= render :partial => "bonjour" %>
            <div>
                <h2>prochaine prestation</h2>
                <div class="seko-card">
                    <% if @bookings.empty? %>
                        <p>none</p>
                    <% else %>
                        <p><%= @booking_next.helper.first_name %> <%= @booking_next.helper.last_name %></p>
                        <p><%= @booking_next.date %> : <%= @booking_next.start_time.strftime("%R") %> - <%= @booking_next.end_time.strftime("%R") %></p>
                        <p>Tasks</p>
                        <p><%= @booking_next.status %></p>
                        <button class="seko-button">Details</button>
                    <% end %>
                </div>
            </div>
        </div>
        <div>
            <%= render :partial => "wallet" %>
            <div class="seko-card">
                <h1>Mes favoris</h1>
                <p>Retouvez vos helpers préférés.</p>
            </div>
        </div>
    </div>
    <div>
        <h2>Bookings</h2>
        <% @senior_week.each do |booking| %>
            <div class="seko-card">
                <p>week</p>
                <p><%= booking.helper.first_name %> <%= booking.helper.last_name %></p>
                <p><%= booking.date %> : <%= booking.start_time.strftime("%R") %>-<%= booking.end_time.strftime("%R") %></p>
                <p>Tasks</p>
                <p><%= booking.status %></p>
                <button class="seko-button">Details</button>
            </div>
        <% end %>
        <% @en_attente.each do |booking| %>
            <div class="seko-card">
                <p>pending</p>
                <p><%= booking.helper.first_name %> <%= booking.helper.last_name %></p>
                <p><%= booking.date %> : <%= booking.start_time.strftime("%R") %>-<%= booking.end_time.strftime("%R") %></p>
                <p>Tasks</p>
                <p><%= booking.status %></p>
                <button class="seko-button">Details</button>
            </div>
        <% end %>
        <% @avenir.each do |booking| %>
            <div class="seko-card">
                <p>a venir</p>
                <p><%= booking.helper.first_name %> <%= booking.helper.last_name %></p>
                <p><%= booking.date %> : <%= booking.start_time.strftime("%R") %>-<%= booking.end_time.strftime("%R") %></p>
                <p>Tasks</p>
                <p><%= booking.status %></p>
                <button class="seko-button">Details</button>
            </div>
        <% end %>
        <% @bookings.each do |booking| %>
            <div class="seko-card">
                <p>all</p>
                <p><%= booking.helper.first_name %> <%= booking.helper.last_name %></p>
                <p><%= booking.date %> : <%= booking.start_time.strftime("%R") %>-<%= booking.end_time.strftime("%R") %></p>
                <p>Tasks</p>
                <p><%= booking.status %></p>
                <button class="seko-button">Details</button>
            </div>
        <% end %>
    </div>
</div>
