<div class="d-flex p-2 flex-wrap">
  <%= render :partial => "hours_shown", locals: {min: min, max: max}%>
  <% calendrier.each do |key2|%>
    <p class="data-week-day" hidden><%= "#{key2.to_date.wday}-#{key2.to_date.day}-#{key2.to_date.month}" %></p>
    <div class="calendar-day-column">
      <div class="calendar-day">
        <p class="calendar-day-content copy-day-1"><%= @format_dt[:week_day][key2.to_date.wday]%></p>
        <p class="calendar-day-content copy-day-2"><%= "#{key2.to_date.day} #{@format_dt[:month][key2.to_date.month]}" %></p>
      </div>
      <% if disponibility[key2].nil? %>
        <%= render :partial => "day_column_empty", locals: {min: min, max: max, id_name: key2} %>
      <% else %>
        <% free_list = disponibility[key2]["free"] %>
        <% if disponibility[key2]["busy"].nil? %>
          <% busy_list = [] %>
        <% else %>
          <% busy_list = disponibility[key2]["busy"].map{|h| h= [h[0], h[0]+h[1]]} %>
        <% end %>
        <%= render :partial => "day_column",
        locals: { free_list: free_list, busy_list: busy_list, min: min, max: max , id_name: key2} %>
      <% end  %>
    </div>
  <% end %>
</div>
