<h1>Choix des horaires disponibles</h1>
<%= form_with(url:sch_generate_path, method: "post") do %>
  <div class="border d-flex justify-content-around">
    <div>
      <input class="form-control datepicker_input" name="dates_select" type="date" id="dates_select">
    </div>
  </div>
  
  <div class="d-flex border">
    <div class="d-inline-flex">
      <ul class="calendar_form" style="list-style-type: none;">
        <%= "heures" %>
        <% for h in @min_h..@max_h do %>
          <li><%= "#{h}h-#{h+1}h" %></li>
        <% end %>  
      </ul>
    </div>
    <%= render :partial => "day_form", locals: { day: "lundi", min: @min_h, max: @max_h } %>
    <%= render :partial => "day_form", locals: { day: "mardi", min: @min_h, max: @max_h } %>
    <%= render :partial => "day_form", locals: { day: "mercredi", min: @min_h, max: @max_h } %>
    <%= render :partial => "day_form", locals: { day: "jeudi", min: @min_h, max: @max_h } %>
    <%= render :partial => "day_form", locals: { day: "vendredi", min: @min_h, max: @max_h } %>
  </div>
  <%= submit_tag("OK") %>
<% end %>




