<h1>Calendrier</h1>
<div id="calendar_bar" class="border d-flex justify-content-between">
  <div id="left-arrow">
    <p><--</p>
  </div>
  <div>
    <p>--------</p>
  </div>
  <div id="right-arrow">
    <p>--></p>
  </div>
</div>
<% @calendrier.each_key do |key| %>
  <% key_analyse = key.split("-")%>
  <% condition_first_week = Date.today.year == key_analyse[0].to_i && Date.today.cweek == key_analyse[1].to_i %>
  <% condition_first_week = true %>
  <div class = "cweek" id=<%= "cweek-" + key %> <%= "hidden" unless condition_first_week %>>
    <p>---------- <%= key_analyse[0] %> - Semaine <%= key_analyse[1] %> -------------</p>
    <% if @list_disponibility_classed[key].nil? %>
      <%= render :partial => "week_empty", locals: {calendrier: @calendrier[key], min: @min_h, max: @max_h} %>
    <% else %>
      <%= render :partial => "week_not_empty", locals: {calendrier: @calendrier[key],
      disponibility: @list_disponibility_classed[key], min: @min_h, max: @max_h} %>
    <% end %>
  </div>
<% end %>
<p>------------------</p>
